@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
    }
}

@if (isAuthenticated)
{
    @ChildContent
}
else
{
    <p>You must be logged in.</p>
}