@using FacebookLike.Models
@using FacebookLike.Neo4j.Node

@if (Posts == null || Posts.Count == 0)
{
    <div class="text-muted">No posts to show.</div>
}
else
{
    @foreach (var postWithAuthor in Posts)
    {
        <PostCard 
            Post="postWithAuthor.Post"
            Author="postWithAuthor.Author"
            AuthorName="@(postWithAuthor.Author.Id == CurrentUser.Id ? "You" : $"{postWithAuthor.Author.FirstName} {postWithAuthor.Author.LastName}")"
            LikesCount="postWithAuthor.LikesCount"
            CommentsCount="postWithAuthor.CommentsCount"
            IsLikedByUser="postWithAuthor.IsLikedByUser"
            ShowComments="false"
            LoadingComments="false"
            Comments="postWithAuthor.Comments"
            CurrentUser="CurrentUser"
            NewComment=""
        />
    }
}

@code {
    [Parameter] public List<PostDetails> Posts { get; set; }
    [Parameter] public User CurrentUser { get; set; }
} 